<nav class="nav-header">
    <div class="logo">
    <img src="/assets/logo.jpg">
    </div>
    
    <div class="name">
    <a href="/">MAIN</a>
    </div>
    
    <div class="sign_out">
    <%= current_user.email %>
    <%= link_to 'sign out',  destroy_user_session_path, method: :delete %>
    </div>
</nav>

<section class="nav_left col-md-3">
    
     <div class="sub">language</div>
        <ul>
            <li>ruby</li>
            <li>html</li>
            <li>css</li>
            <li>js</li>
        </ul>
</section>

<div class="main container">
    <form action = "/create_post" method = "get">
        <div class="form-group" style = "margin-width:auto">
            <textarea class="form-control" name = "content" rows="4" placeholder = "내용을 입력하세요"></textarea>
            <button type="submit" class="btn btn-primary post-btn">Submit</button>
        </div>
     </form>
    
    
    <% @posts.each do |p| %>
        <div class="each_post container">
            <p><%= p.content %></p>
        </div>
        
        <div class="each_comment">
            <% p.comments.each do |c| %>
                <!--<p><%= c.writer %></p>-->
                <p><%= c.content %></p>
            <% end %>
        </div>
        
        <form action = "/create_comment/<%=p.id%>", method = "get" class = "row">
            <input type="text" class="form-control-file" cols = "30" name = "content" placeholder = "댓글을 입력하세요">
            <button type="submit" class="btn btn-primary">댓글달기</button>
        </form>
        
    <% end %>
        
</div>
