<div class="container">
<nav class="nav-header">
    <div class="logo">
    <a href = "/"><img src="/assets/logo.jpg"></a>
    </div>
    
    <div class="name">
    <h1>LikeLion StackFlow</h1>
    </div>
    
    <div class="sign_out">
    <%= current_user.name %>
    <%= link_to 'sign out',  destroy_user_session_path, method: :delete %>
    </div>
</nav>

<section class="nav_left">
    
     
        <ul class="offset-md-5 col-md-4">
            <a href="/main/ruby"><li><i class="fa fa-diamond" aria-hidden="true"></i> ruby</li></a>
            <a href="/main/html"><li><i class="fa fa-code" aria-hidden="true"></i> html</li></a>
            <a href="/main/css"><li><i class="fa fa-television" aria-hidden="true"></i> css</li></a>
            <a href="/main/js"><li><i class="fa fa-align-left" aria-hidden="true"></i> js</li></a>
        </ul>
</section>
</div>

<div class="main container">
    
    <form enctype="multipart/form-data" action = "/create_post" method = "post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group" style = "margin-width:auto">
            <textarea class="form-control" name = "content" rows="4" placeholder = "내용을 입력하세요"></textarea>
            <input name = "image" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted"></small>            
            <button type="submit" class="btn btn-primary post-btn">Submit</button>
        </div>
        
   
    <div class="form-check list">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="option" value="ruby" checked>
        ruby
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="option" value="css">
        css
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="option" value="html">
        html
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="option" value="js">
        js
      </label>
      
    </div>
   
    
  
     </form>

    
    <% @posts.each do |p| %>
        <div class="each_post container">


            <p>질문 : <%= p.content %></p>
            <p>주제 : <%= p.option %></p>
 

            <% if p.image_file_name.nil? %>
            <% else %>
                <p><%= image_tag p.image.url(:thumb) %></p>
            <% end %>
            <p><%= p.content %></p>

        </div>
        
        <label class= "col-3">
            <div class="row mx-auto" style="text-align:center;">
             
                <form action = "/like/<%=p.id%>" method = "get">
                    <button type="submit" class="btn btn-primary">
                        <% if current_user.is_like?(p) %>
                            Unlike <%= p.likes.size %>    
                        <% else %>
                            Like <%= p.likes.size %>
                        <% end %>
                    </button>
                </form>
        
                <form action="/edit/<%= p.id %>" method="get">
                    <button type="submit" class="btn btn-secondary">Edit</button> 
                </form>
                <form action="/delete/<%= p.id %>" method="get">
                    <button type="submit" class="btn btn-danger">Delete</button> 
                </form>
       
            </div>
        </label>
        
        <div class="each_comment">
            <% p.comments.each do |c| %>

                
                

                <p><%= c.writer %> : <%= c.content %></p>
                <form action = "/comment_delete/<%=c.id%>" method = "get">
                    <button type="submit" class="btn btn-primary">댓글삭제</button>
                </form>                

            <% end %>
        </div>
        
        
        <form action = "/create_comment/<%=p.id%>", method = "get" class = "row">
            <input type="text" class="form-control-file" cols = "30" name = "content" placeholder = "댓글을 입력하세요">
            <button type="submit" class="btn btn-primary">댓글달기</button>
        </form>
        

    <% end %>
        
</div>


<footer class="footer fixed-bottom">
  <ul class="footer_content">
    <li>&copy;희재, 지연, 규란, 건회 - Likelion at UOS</li>
  </ul>
</footer>
